@using IhaleProject.Application.Contracts.AlimTuru;
@using IhaleProject.Web.Startup;
@model AlimTuruDTO;

@{
	ViewBag.Title = "AlimTuru";
	ViewBag.CurrentPageName = PageNames.AlimTuru;
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h1>Alim Turu</h1>
			</div>
		</div>
	</div>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
					</div>
					<div class="card-body">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Alim Türünü Ekle</button>
						<div class="table-responsive">
							<table id="AlimTuruTable" class="table table-striped table-bordered">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@await Html.PartialAsync("~/Views/AlimTuru/_CreateModal.cshtml",Model)
@await Html.PartialAsync("~/Views/AlimTuru/_UpdateModal.cshtml",Model)

@section scripts {
	<script>

		AlimTuruDataTableLoad();
		var updateForm = $("#updateform");

		function AlimTuruDataTableLoad() {
			var AlimTuruDataTable = $('#AlimTuruTable');

			AlimTuruDataTable.DataTable({
				processing: true,
				bDestroy: true,
				searching: true,
				ordering: true,
				ajax: {
					url: "@Url.ActionLink("GetAlimTurleri","AlimTuru")",
					dataSrc: 'result.alimTurleri'
				},
				columns: [
					{
						data: "alimTuru",
						title: "Alim Turu"
					},
					{
						data: "id",
						title: "Sil",
						render: (data) => {
							return `<button onclick="WarningAlert('d','${data}')" id="del.${data}" class="btn btn-danger">sil</button>`
						}

					},
					{
						data: "id",
						title: "Güncelle",
						render: (data) => {
							return `<button onclick="GetUpdateValue(event)" data-update-id="${data}" data-toggle="modal" data-target="#updateModal" class="update-btn btn btn-warning">guncelle</button>`
						}

					}

				],
				columnDefs: [{
					"defaultContent": "-",
					"targets": "_all"
				}]
			});
		}

		function GetUpdateValue(event) {

			var id = event.target.getAttribute("data-update-id")

			updateForm.submit(function (event) {
				if (updateForm.valid()) {
					event.preventDefault();
					WarningAlert("u", id);
				}
			});

			$.get("@Url.ActionLink("GetAlimTuru","AlimTuru")" + "/" + id, function (data) {

				var dataObj = data.result;


				for (const key in dataObj) {
					updateForm.find("input[name='" + key + "']").val(dataObj[key]);
				}

			})
		}

		var alertTypes = {
			delete: "d",
			update: "u"
		}

		function WarningAlert(type, id) {

			var alertProps = {
				title: "",
				icon: "",

			}

			if (type == alertTypes.delete) {
				alertProps.title = "Silmek istediğinizden emin misiniz ?";
				alertProps.icon = "warning";
			}
			else {
				alertProps.title = "Güncellemek istediğinizden emin misiniz ?";
				alertProps.icon = "warning";
			}

			swal({
				title: alertProps.title,
				icon: alertProps.icon,
				buttons: ["İptal", "Onayla"],
				dangerMode: true,
			})
				.then((isTrue) => {
					if (type == alertTypes.delete) {
						if (isTrue) {
							console.log(id)
							$.post(`@Url.Action("Delete","AlimTuru")/${id}`)
								.done(function () {

									swal("Silindi");
									AlimTuruDataTableLoad();
								}).fail(function (err) {
									console.log(err);
									swal("Hata");
								})
						} else {
							swal("iptal edildi")
						}
					}
					else {
						if (!isTrue) {

							var $inputs = $('#updateform :input');

							var values = {};
							$inputs.each(function () {
								values[this.name] = $(this).val();
							});

							console.log(values);

							$.post(`@Url.Action("Update","AlimTuru")/${id}`, values,)
								.done(function () {
									swal("Güncellendi");
									AlimTuruDataTableLoad();
								})
								.fail(function () {
									swal("Hata");
								})

						}
						else {
							swal("iptal edildi")
						}
					}
				});
		}

	</script>
}

