@using IhaleProject.Application.Contracts.Ihale;
@using IhaleProject.Web.Startup;
@model IhaleDto;

@{
	ViewBag.Title = "Anasayfa";
	ViewBag.CurrentPageName = PageNames.Anasayfa;
}
<header id="header" class="navbar navbar-light navbar-expand-lg">
	<div class="header-top">

		<div class="container">
			<div class="circle" style=""></div>
			<a href="/" class="navbar-brand d-flex flex-row justify-content-start align-items-center" style="">
				<img src="~/img/IsubuLogo.png" alt="ISUBÜ" class="mr-3">
				<h4 class="text-muted font-weight-normal">Isparta Uygulamalı Bilimler Üniversitesi İhale Sayfası</h4>

			</a>
			<a href="javascript:void(0);" class="search-btn"><em class="icofont-search-2"></em></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="socialsdil d-none d-lg-block">
			</div>
		</div>
	</div>
	<div class="menu collapse navbar-collapse" id="menu">
		<ul class="navbar-nav ml-auto mx-auto">
			<li class="nav-item"><a href="https://isparta.edu.tr/" class="nav-link">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ÜNİVERSİTEMİZ</a></li>
			<li class="nav-item"><a href="https://bidb.isparta.edu.tr/tr/iletisim" class="nav-link">İLETİŞİM &emsp;&emsp;&emsp;</a></li>
			<li class="btn btn-secondary"><a href="~/Home/Index" target="_blank" class="nav-link">
					&emsp; Daire Başkanlıkları Giriş Sayfası &emsp;
			</a></li>
		</ul>
	</div>
</header>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								@await Html.PartialAsync("~/Views/Roles/Index.AdvancedSearch.cshtml")
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="AnasayfaTable" class="table table-striped table-bordered">
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row m-2">
				<div class="col-md-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="mb-3 card-title">İhalelerden mail yoluyla haberdar olmak ister misiniz? &emsp;</h4>
							<form class="forms-sample">
								<div class="form-group">
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Mail Adresiniz:">
								</div>
								<button type="submit" href="~/Email/Post" class="btn btn-primary mr-2">&nbsp; Maili Kaydet &emsp;</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

@section scripts {
	<script>
		AnasayfaDataTableLoad();
		var updateForm = $("#updateform");

		function AnasayfaDataTableLoad() {
			var AnasayfaDataTable = $('#AnasayfaTable');

			AnasayfaDataTable.DataTable({
				processing: true,
				bDestroy: true,
				ajax: {
					url: "@Url.ActionLink("GetIhaleler","Ihale")",
					dataSrc: 'result.ihaleler'
				},
				columns: [
					{
						data: "ihaleNo",
						title: "İhale No"
					}, {
						data: "ihaleAdi",
						title: "İhale Adi"
					}, {
						data: "alimUsuluAdi",
						title: "Alım Usulu"
					}, {
						data: "alimTuruAdi",
						title: "Alım Türü"
					}, {
						data: "baslangicTarihi",
						title: "Başlangiç Tarihi"
					}, {
						data: "bitisTarihi",
						title: "Bitiş Tarihi"
					},
					{
						data: "id",
						title: "Dosya",
						render: (data) => {
							var link = "@Url.ActionLink("GetIhaleFile","Ihale")" + "/" + data;

							return `<a href="${link}"><button class="btn btn-danger">İndir</button></a>`
						}

					},
				],
				columnDefs: [{
					"defaultContent": "-",
					"targets": "_all"
				}]
			});
		}
	</script>
}


