@using IhaleProject.Application.Contracts.Ihale;
@using IhaleProject.Web.Startup;
@model IhaleDto;

@{
	ViewBag.Title = "Anasayfa";
	ViewBag.CurrentPageName = PageNames.Anasayfa;
}

<section class="content-header">
	<div class="container-fluid" style="background-color:aquamarine;">
		<div class="row">
			<div class="col-sm-6">
				<a href="#"><img src="~/img/IsubuLogo.png" alt="Isubü Logo" border="0" align="left"/></a>
				<h1>Giriş yapmayanlar için Anasayfa</h1>
			</div>
			<style>
				.button{
					padding: 220px;
					font-size: 27px;
				}
			</style>
			<div style="text-align: right;">
				<a href="~/Home/Index" class="button">Daire Başkanlığı Girişi</a>
			</div>
		</div>
	</div>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								@await Html.PartialAsync("~/Views/Roles/Index.AdvancedSearch.cshtml")
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="AnasayfaTable" class="table table-striped table-bordered">
							</table>
						</div>
					</div>
				</div>
			</div>
			<form style="border: 1px solid black;">
				<label for="name">Ihalelerden Mail yoluyla haberdar olmak ister misiniz?</label><br>
				<input type="email" id="mail" name="mail" placeholder="Mail adresinizi buraya girin."><br>
				<div style="text-align: left;">
					<a href="#" class="button">Abone ol</a>
				</div>
			</form>
		</div>
	</div>
</section>

@section scripts {
	<script>
		AnasayfaDataTableLoad();
		var updateForm = $("#updateform");

		function AnasayfaDataTableLoad() {
			var AnasayfaDataTable = $('#AnasayfaTable');

			AnasayfaDataTable.DataTable({
				processing: true,
				bDestroy: true,
				ajax: {
					url: "@Url.ActionLink("GetIhaleler","Ihale")",
					dataSrc: 'result.ihaleler'
				},
				columns: [
					{
						data: "ihaleNo",
						title: "İhale No"
					}, {
						data: "ihaleAdi",
						title: "İhale Adi"
					}, {
						data: "alimUsuluAdi",
						title: "Alım Usulu"
					}, {
						data: "alimTuruAdi",
						title: "Alım Türü"
					}, {
						data: "baslangicTarihi",
						title: "Başlangiç Tarihi"
					}, {
						data: "bitisTarihi",
						title: "Bitiş Tarihi"
					},
					{
						data: "id",
						title: "Dosya",
						render: (data) => {
							var link="@Url.ActionLink("GetIhaleFile","Ihale")"+"/"+data;

							return `<a href="${link}"><button class="btn btn-danger">İndir</button></a>`
						}

					},
				],
				columnDefs: [{
					"defaultContent": "-",
					"targets": "_all"
				}]
			});
		}
	</script>
}

