@model IhaleProject.Application.Contracts.Birim.CreateBirimDto
@{
    Layout = null;
}
<form id="updateform" method="post" asp-action="Update" asp-controller="Birim" >
    <div id="updateModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Birim Güncelleme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="BirimAdi"></label>
                        <input name="birimAdi" type="text" asp-for="BirimAdi" class="form-control" />
                        <span data-valmsg-for="birimAdi" asp-validation-for="BirimAdi"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

