@using IhaleProject.Application.Contracts.Birim;
@using IhaleProject.Web.Startup;
@model CreateBirimDto;

@{
	ViewBag.Title = "Birim";
	ViewBag.CurrentPageName = PageNames.Birim;
}

<section class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h1>Birimler</h1>
			</div>
		</div>
	</div>
</section>
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								@await Html.PartialAsync("~/Views/Roles/Index.AdvancedSearch.cshtml")
							</div>
						</div>
					</div>
					<div class="card-body">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">Yeni Birim Ekle</button>
						<div class="table-responsive">
							<table id="BirimlerTable" class="table table-striped table-bordered">
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@await Html.PartialAsync("~/Views/Birim/_CreateModal.cshtml",Model)

@section scripts {
	<script>

		BirimlerDataTableLoad();

		function BirimlerDataTableLoad() {
			var birimlerDataTable = $('#BirimlerTable');

			birimlerDataTable.DataTable({
				processing: true,
				bDestroy: true,
				ajax: {
					url: "@Url.ActionLink("GetBirimler","Birim")",
					dataSrc: 'result.birims'
				},
				columns: [
					{
						data: "birimAdi",
						title: "Birim"
					},
					{
						data: "id",
						title: "Sil",
						render: (data) => {
							return `<button onclick="WarningAlert('d','${data}')" id="del.${data}" class="btn btn-danger">sil</button>`
						}

					},
					{
						data: "id",
						title: "Güncelle",
						render: (data) => {
							return `<button  id="upd.${data}" data-toggle="modal" data-target="#updateModal" class="btn btn-warning">guncelle</button>`
						}

					}

				],
				columnDefs: [{
					"defaultContent": "-",
					"targets": "_all"
				}]
			});
		}



		var alertTypes = {
			delete: "d",
			update: "u"
		}

		function WarningAlert(type, id) {

			var alertProps = {
				title: "",
				icon: "",

			}


			if (type == alertTypes.delete) {
				alertProps.title = "Silmek istediğinizden emin misiniz ?";
				alertProps.icon = "warning";
			}
			else {
				alertProps.title = "Güncellemek istediğinizden emin misiniz ?";
				alertProps.icon = "warning";
			}

			swal({
				title: alertProps.title,
				icon: alertProps.icon,
				buttons: ["Onayla", "İptal"],
				dangerMode: true,
			})
				.then((isTrue) => {
					if (!isTrue) {
						$.post(`@Url.Action("Delete","Birim")/${id}`, function (data) {

						}).done(function () {
							swal("Silindi");
							BirimlerDataTableLoad();
						}).fail(function () {
							swal("Hata");
						})
					} else {
						swal("iptal edildi")
					}
				});
		}



	</script>
}

